.header {
    padding: 18px 0;
}

.header__wrapper {
    display: grid;
    grid-template-areas: 'logo links'
    'search search';

    gap: 17px;
    padding-bottom: 16px;
    border-bottom: 1px solid #eeeff2;

    @media (min-width: 1024px) {
        grid-template-areas: 'logo search links'
    }
}
.header__logo-link {
}
.header__logo-image {
}
.header__search {
}
.header__search-input {
}
.header__search-button {
}
.header__links-list {
}
.header__link {
}
.header__link-text {
}
.header__link-count {
}